<html>
    <head>
        <title>{{ bank.name }} guild bank</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
        <script>
        const whTooltips = {
            colorLinks: true,
            iconizeLinks: true,
            renameLinks: true,
            iconSize: "small",
            hide: {
                extra: true,
                sellprice: true
            }
        }
        </script>
        <script src="https://wow.zamimg.com/widgets/power.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .iconsmall {
                margin-right: 10px;
            }
            @media (min-width: 1200px) {
                .container.container-narrow{
                    max-width: 600px;
                }
            }
            .table td {
                height: 52px;
            }
        </style>
        <script>
            $(document).ready( function () {
                $('#items').DataTable({
                    "paging": false,
                    "aaSorting": []
                });
            } );
        </script>
    </head>
    <body>
        <main role="main">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 style="text-align:center; width: 100%;">{{ bank.name }} guild bank</h1>
                </div>
            </section>
            <div class="container container-narrow">
                <table class="table table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th width="10%">Character</th>
                            <th width="90%">Last updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for char in bank.character_set.all %}
                            <tr>
                                <td>{{ char.name }}</td>
                                <td>{{ char.last_update }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table id="items" class="table table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th width="10%">Count</th>
                            <th width="70%">Item</th>
                            <th width="20%">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td class="align-middle">{{ item.quantity }}</td>
                                <td class="align-middle"><a href="https://classic.wowhead.com/item={{ item.item.id }}/">{{ item.item.name }}</a></td>
                                <td class="align-middle">
                                    {% if item.item.category is not None %}
                                        {{ item.item.category.name }}
                                    {% else %}
                                        Uncategorized
                                    {% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>